.homeContainer, .home-firstSection, .home,  
 .firstSection-feature, .firstSection-feature-item{
    display: flex; 
    justify-content: center; 
    align-items: center;
} 

.home{ 
    padding: 150px 50px 0;  
}

.homeContainer{
   flex-direction: column;
   width: 90%;
}

.home .strait-line-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
}

.strait-line-section .strait-line{
    width: 22%;
    height: 1px;
    background-color: black;
    opacity: 0.5;
}

.home .strait-line-section span{
    font-size: 2.3rem;
    font-weight: 500;
}

.firstSection-feature-item>span{
    padding-left: 5px;
}