 

 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 :root {
     /* --secondary: rgb(53, 53, 67); */
     --primary: #962E2A ;
     --secondary: #E3867D;
     --preSecondary: #CEE6F2;
 } 

  body{
    margin: 0px;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    font-weight: 400;
<<<<<<< HEAD
    letter-spacing: 0.5px; 
=======
    letter-spacing: 0.5px;
>>>>>>> 2ddc3e2516f7ff1e546bb5cb945e85e3361dc27d
    text-align: left;
  }
